

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}

.bodoni-moda-sc- {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*::selection {
    background-color: #B5944A;
    color: white;
}


body::-webkit-scrollbar {
    display: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


#waveCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mouse {
    animation: updaown 4s infinite;
}

.Left-Right-nav-text {
    display: none;
}

.arrow {
    animation: leftright 4s infinite;
}

#The-ragister-div2 {
    display: none;
}

#opened-nav {
    justify-content: center;
    align-items: center;
    gap: 3vmin;
    flex-direction: column;
    display: none;
    transition: max-height 0.3s ease-out;
    max-height: 0;

}

#opened-nav.visible {
    display: flex;
    height: 100vh;
}

#Home-Section-animation {
    transform: scale(0.1);
    opacity: 1;
    will-change: transform, opacity;
    height: 50vh;
    transition: transform 0s ease, opacity 0s ease, height ease;
}


#Image-width-animation{
    z-index: 9999999;
}

/* Adjust text size for responsiveness */


@keyframes leftright {
    0% {
        transform: translateX(-20%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-20%);

    }
}

@keyframes updaown {
    0% {
        transform: translateY(-20%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-20%);

    }
}


@keyframes Pulse {

    from,
    to {
        scale: 1;
    }

    50% {
        scale: 1.08;
    }


}


.Responsive-Explore{
    height: 100vh;
}
.Hero{
    height: 100vh;
}


@media (min-width:768px) {

    .Left-Right-nav-text {
        display: block;
        display: flex;
    }

    #The-ragister-div2 {
        display: block;
        display: flex;

    }

}

@media (min-width:241px) and (max-width:772px) {
    .Hero {
        height: auto;
        margin-top: 1vmin;
    }
    .Responsive-Explore{
        height: auto;
        margin-top: 40px;
    }
    .Hero{
        height: auto;
        padding-top: 40px;
    }
}

@media (min-width:772px) and (max-width:1047px) {
    .Txt-Div h1 {
        font-size: 4vmin;
        font-weight: bold;
    }

    .Txt-Div h2 {
        font-size: 2.5vmin;
    }

    .Txt-Div button {
        padding: 1vmin;
    }
}