*{
    scroll-behavior: smooth;
}


body, html {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100%;
    width: 100%; 
}
canvas {
    display: block; 
    width: 100vw; 
    height: 100vh; 
}

body{
    overflow-x: hidden;
}

.IMG-CONT:hover > img{ 
    animation: Pulse 800ms ease-in-out ;
}
.IMG-CONT > img{
     object-fit: cover;
     

}



.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
    color: white;
    overflow: hidden;
    text-align: center;
}

.image-text {
    font-size: 16vmin;
    color: transparent; /* Make the text transparent */
    background: url('https://plus.unsplash.com/premium_photo-1697730270201-bdfc5b81a675?q=80&w=2736&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}




@keyframes Pulse {
    from,to {
        scale:1;
    }
    
    50%{
        scale:1.08;
    }

    
}

